{# La page hérite du layout #}
{% extends "layout.html.twig" %}

{# Surcharge du bloc "content" défini dans le layout #}
{% block content %}
    <p class="test"><b>Page de test</b></p>
{% endblock %}

{# On surcharge le bloc "title" dans le layout #}
{% block title 'Test' %}
    
    {# Equivaut à
    {% block title %}Test{% endblock %}
    #}
