{% extends "layout.html.twig" %}

{% block title 'Modification d\'un abonné' %}

{% block content %}
    <form method="post">
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" id ="prenom" value="{{ abonne.prenom }}">
        <input type="submit" value="Modifier">
    </form>
{% endblock %}
