{% extends "layout.html.twig" %}

{% block content %}
    <p>Id : {{ abonne.id_abonne }}</p>
    <p>Prénom : {{ abonne.prenom }}</p>
    <p><a href="{{ path("abonnes") }}">Retour vers la liste des abonnés</a></p>
{% endblock %}

